{{=<% %>=}}
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Sorry, we have a problem: error <% code %></h3>
          <p><% errmsg %></p>
        </div>
        <div class="panel-footer">If you are the application owner check the logs for more information.</div>
      </div>
