{{=<% %>=}}
      <div class="jumbotron">
        <h1>¡Bienvenid@s!</h1>
        <p>Bienvenid@s al sitio de Toma de Decisiones de la Armada de Chile</p>
        <p>Actualmente en construcción.</p>
      </div>
