{{=<% %>=}}
      <div class="panel panel-default" style="min-width: 540px;">

        <div class="panel-heading">
          <p><b>TITULO DE LA SALA</b></p>
        </div>
        <br>

        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>Escenario</th>
              <th>Nombre</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>
                <div>ESCENARIO 1</div>
              </td>
              <td><button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#par1">Desplegar Escenario</button></td>
            </tr>

            <tr><td colspan="3" class="no_padding">
              <div id="par1" class="collapse" aria-expanded="false" style="height: 0px;">

                <ng-form name="forms.e1">
                  <div>
                    <h2>ESCENARIO SUMMARY</h2>

                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th rowspan="2" width="72">Participante</th>
                          <th colspan="17">Decisiones</th>
                        </tr>
                        <tr>
                          <th width="72">1</th>
                          <th width="72">2</th>
                          <th width="72">3</th>
                          <th width="72">4</th>
                          <th width="72">5</th>
                          <th width="72">6</th>
                          <th width="72">7</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Tú</td>
                          <td><input ng-model="form_data[1].d1" type="checkbox"></td>
                          <td><input ng-model="form_data[1].d2" type="checkbox"></td>
                          <td><input ng-model="form_data[1].d3" type="checkbox"></td>
                          <td><input ng-model="form_data[1].d4" type="checkbox"></td>
                          <td><input ng-model="form_data[1].d5" type="checkbox"></td>
                          <td><input ng-model="form_data[1].d6" type="checkbox"></td>
                          <td><input ng-model="form_data[1].d7" type="checkbox"></td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                  <input class="btn btn-primary" value="Aceptar" type="submit">
                </ng-form>

              </div>
            </td></tr>

            <tr>
              <th scope="row">2</th>
              <td>
                <div>ESCENARIO 2</div>
              </td>
              <td><button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#par2">Desplegar Escenario</button></td>
            </tr>

            <tr><td colspan="3" class="no_padding">
              <div id="par2" class="collapse" aria-expanded="false" style="height: 0px;">

                <ng-form name="forms.e2">
                  <div>
                    <h2>ESCENARIO SUMMARY</h2>

                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th rowspan="2" width="72">Participante</th>
                          <th colspan="17">Decisiones</th>
                        </tr>
                        <tr>
                          <th width="72">1</th>
                          <th width="72">2</th>
                          <th width="72">3</th>
                          <th width="72">4</th>
                          <th width="72">5</th>
                          <th width="72">6</th>
                          <th width="72">7</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Tú</td>
                          <td><input ng-model="form_data[2].d1" type="checkbox"></td>
                          <td><input ng-model="form_data[2].d2" type="checkbox"></td>
                          <td><input ng-model="form_data[2].d3" type="checkbox"></td>
                          <td><input ng-model="form_data[2].d4" type="checkbox"></td>
                          <td><input ng-model="form_data[2].d5" type="checkbox"></td>
                          <td><input ng-model="form_data[2].d6" type="checkbox"></td>
                          <td><input ng-model="form_data[2].d7" type="checkbox"></td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                  <input class="btn btn-primary" value="Aceptar" type="submit">
                </ng-form>

              </div>
            </td></tr>

          </tbody>
        </table>

      </div>
    </div>

    <script type="text/javascript" src="/js/timer.js"></script>
    <div class="right-side">

      <timer class="panel panel-default super-timer">
        <div class="panel-heading">
          <h3 class="text-center">Timer</h3>
        </div>
        <div class="panel-body timer-body text-center">
        <div class="bg-primary">
          <span class="bg-info">{{hhours}}</span>
          <div>H</div>
        </div>
        <div class="bg-primary">
          <span class="bg-info">{{mminutes}}</span>
          <div>M</div>
        </div>
        <div class="bg-primary">
          <span class="bg-info">{{sseconds}}</span>
          <div>S</div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="text-center">
          <a id="restartButton" class="btn btn-warning" ng-click="resetTimer()"> Reset</a>
          <a id="startButton" class="btn btn-primary" ng-click="startTimer(3)" ng-hide="timerRunning"> Start</a>
          <a id="stopButton" class="btn btn-danger" ng-click="stopTimer()" ng-show="timerRunning"> Pause</a>
        </div>
      </div>
      </timer>
